<head>
    <link rel="stylesheet" type="text/css" href="/css/header.css">

</head>

<nav >
    <ul>
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><h1><a href="http://localhost:3000/">Live Covid-19 update</a></h1></li>
        <li><a href="http://localhost:3000/staysafe">Stay Safe</a></li>

    </ul>
</nav>