#viewValue{
    width:100%;
    height: auto;
    background-color:lightgray;
    display: flex;
    flex-wrap: wrap;
    margin:10px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px gray;
  

    /* flex-direction:row; */
}

#viewValue>div{
    background-color: #f1f1f1;
  width: 40%;
  margin: 25px;
  text-align: center;
  line-height: 75px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px gray;

}
#countryName{
    margin: auto;
    margin-top: 10px;
    width: 50%;
    text-align: center;
    border-radius: 15px;
  box-shadow: 10px 10px 20px gray;

    background-color:lightgrey;  
}

#countryName>img{
    width: 200px;
    height: 200px;;
}

#form{
    
    height: 50px;
    margin: auto;
    width: 50%;
    
}

input{
    display: inline-block;
    width: 70%;
    padding: 8px 20px;
    margin: 10px 10px;
    box-sizing: border-box;

}

button{
    padding: 8px 20px;
    border-radius: 10px;
}

